packaging_format = 2

id = "metabase"
name = "Metabase"
description.en = "Web database management tool"
description.fr = "Outil web de gestion des bases de données"

version = "0.50.10~ynh1"

maintainers = ["Colin Maudry"]

[upstream]
license = "AGPL-3.0-only"
website = "https://www.metabase.com/"
admindoc = "https://www.metabase.com/docs/latest/"
code = "https://github.com/metabase/metabase"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = false
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    help.en = "If enabled, Metabase will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si cette case est cochée, Metabase sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://downloads.metabase.com/v0.50.10/metabase.jar"
        sha256 = "6dd9c3ee5228deaf23228d26e8ec741d6b03c98b697ce9cdaa13db6a47775f98"
        extract = false
        rename = "metabase.jar"

        # Disabled. Metabase releases its Community Edition as v0.x and Entreprise Edition as v1.x. What the heck.
        # autoupdate.strategy = "latest_github_release"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "postgresql",
        "apt-transport-https"
    ]
    packages_from_raw_bash = """
    if [[ $YNH_DEBIAN_VERSION == "bullseye" ]]; then
        echo "openjdk-11-jre-headless";
    elif [[ $YNH_DEBIAN_VERSION == "bookworm" ]]; then
        echo "openjdk-17-jre-headless";
    fi
    """

    [resources.database]
    type = "postgresql"
