[Unit]
Description=Metabase server
After=syslog.target
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__
ExecStart=/usr/bin/java -jar __FINALPATH__/metabase.jar
EnvironmentFile=/etc/default/metabase
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=__APP__
SuccessExitStatus=143
TimeoutStopSec=120
Restart=always

[Install]
WantedBy=multi-user.target
